.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: coral;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 0%;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
}
.react-resizable-handle-e {
  right: 0;
}
.react-resizable-hide{
  display: none;
}